# http://git-scm.com/docs/gitignore

.DS_Store
*.pyc
_package-env/
_python-env/
bower_components/
dist/
node_modules/
npm-debug.log
openfda-*.zip
openfda.egg-info/
tmp/
openfda/annotation_table/data/
openfda/faers/data/
openfda/res/data/
