# http://git-scm.com/docs/gitignore

.DS_Store
*.pyc
_package-env/
_python-env/
bower_components/
dist/
node_modules/
npm-debug.log
openfda-*.zip
openfda.egg-info/
tmp/
openfda/annotation_table/data/
openfda/faers/data/
openfda/res/data/
data/
/.idea
api/faers/.idea
openfda/log_parsers/aws_logs
openfda/log_parsers/aws_logs_stats
logs
api/.idea
watchdog
/.eggs/
/api/faers/package-lock.json
/openfda/spl/package-lock.json
/apiserver.sh
/nosetests.xml
/nosetests_integration.sh
/start_pipelines.sh
/nosetests_unit.sh
