[core]
local-scheduler=true
logging-conf-file=config/logging.cfg
workers=1
parallel-scheduling=false

[worker]
ping-interval=0.1

[email]
send-failure-email=false
force-send=false

[retcode]
# The following return codes are the recommended exit codes for Luigi
# They are in increasing level of severity (for most applications)
already_running=10
missing_data=20
not_run=25
task_failed=30
scheduling_error=35
unhandled_exception=40
