[core]
local-scheduler=true
logging-conf-file=config/logging.cfg
worker-ping-interval=0.1
workers=1
parallel-scheduling=false

error-email=example@example.com
email-type=text
email-sender=example@example.com
email-prefix=[LUIGI]
smtp_port=25
smtp_host=localhost

[email]
force-send=false

[retcode]
# The following return codes are the recommended exit codes for Luigi
# They are in increasing level of severity (for most applications)
already_running=10
missing_data=20
not_run=25
task_failed=30
scheduling_error=35
unhandled_exception=40
