cluster.name: openfda

node.master: true
node.data: true

path.data: /data0/elasticsearch/data
path.logs: /data0/elasticsearch/log
path.repo: /data0/elasticsearch/snapshots

bootstrap.system_call_filter: false

network.host: 0.0.0.0

cluster.routing.allocation.node_initial_primaries_recoveries: 32
cluster.routing.allocation.node_concurrent_recoveries: 32
cluster.routing.allocation.disk.watermark.low: 95%
cluster.routing.allocation.disk.watermark.high: 99%
cluster.routing.allocation.disk.watermark.flood_stage: 99%

indices.recovery.max_bytes_per_sec: 1000mb

xpack.security.enabled: false
xpack.watcher.enabled: false
xpack.ml.enabled: false
xpack.monitoring.enabled: false
